

@media screen and ( max-width: 400px) {
   .menu-button {
       display: block;
   }
   #search {
       width: 100%;
   }
   .main1-navigation {
       flex-wrap: wrap;
       max-height: 0px;
       overflow: hidden;
       transition: max-height 0.5s;
   }
   .main1-navigation a {
       min-width: 100%;
   }

   .logo {
       width: 70px;
       
   }
   .logo1 {
      max-height: auto;
        margin: auto;
        height: auto;
        box-sizing: border-box;
   }

   .main1-navigation.open {
       max-height: 50vh;
   }
   .cat2 {
       grid-template-columns: 1fr;
   }
   .card-image {
       aspect-ratio: 4/3;
   }
   .featured {
       max-width: 95vw;
   }
   .contact {
       max-width: 95vw;
   }
   #contact-form {
       width: 95vw;
   }

   .containerdetails {
    max-height: auto;
      margin: auto;
      height: auto;
      box-sizing: border-box;
 }
 .shoesdetails {
    max-height: auto;
      margin: auto;
      height: auto;
      box-sizing: border-box;
 }

 .detailscontainer11{
       flex-wrap: wrap;
       max-height: 1px;
 }
 



}
