:root {
    /* CSS HSL */
    --air-superiority-blue: rgb(237, 247, 246);
    --isabelline: rgb(114, 7, 7);
    --alloy-orange: rgb(205, 237, 250);
    --orange: rgba(245, 115, 40, 0.904);
    --nyanza: hsla(116, 55%, 89%, 1);
--caribbean-current: hsla(184, 58%, 25%, 1);
--mauve: hsla(269, 84%, 85%, 1);
--palatinate: rgb(104, 34, 92);
--prussian-blue: hsla(210, 53%, 15%, 1);
--tropical-indigo: hsla(250, 89%, 78%, 1);
--ash-gray: hsla(158, 20%, 81%, 1);
--fire-engine-red: hsla(358, 65%, 46%, 1);


}

body {
    background-color: var(--prussian-blue);
    margin: 0px;
}

.logo {
    width: 90px;
}

.logo1 {
    height: 29rem;
    border-radius: 30px;
    justify-content: center;
    border: 12px solid rgb(242, 232, 247);
    margin-right: 5em;
    margin-left: 2em;
    margin-top: 2em;
}

.main-header {
    background-color:  var(--ash-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 30px;
    flex-wrap: wrap;
}

#search {
    display: flex;
    flex-direction: row;
    min-width: 40vw;
    max-width: 100vw;
    border: 1px solid var(--isabelline);
    border-radius: 10px;
    overflow: hidden;
    align-self: self-end;
    margin-bottom: 2px;
    }

#search input {
    flex: 1;
    padding: 5px;
    
    
}

#search button {
    padding: 5px;
    background-color: var(--alloy-orange);
    color: var(--isabelline);
    border: 1px solid transparent;
    align-self: flex-start ;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    align-self: center;   
}


.main-navigation a {
    color: var(--isabelline);
    text-decoration: none;
    padding: 5px;
}
.main-navigation a:hover {
    background-color: rgba(253, 189, 189, 0.63);
}

.main1-navigation {
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: rgb(243, 236, 242);
    justify-content: flex-end  ;   
}
.main1-navigation a {
    color: var(--isabelline);
    text-decoration: none;
    padding: 5px;
}
.main1-navigation a:hover {
    background-color: rgba(253, 189, 189, 0.63);
}

.menu-button {
     font-size:24px;
     background-color: var(--air-superiority-blue);
     color: var (--alloy-orange);
     border:5px solid var(rgb(206, 240, 241));
     border-radius: 7px;
}



.galery {
    display: flex;
    height: 15rem;
    gap: 1rem;
    margin-left: 4em;
    margin-right: 4em;
    
    
}




.galery > div {
flex:1;
border-radius: 3rem ;
background-position: center;
background-repeat: no-repeat;
background-color: var(--mauve);
background-size: auto 100%;
border: 7px double var(--caribbean-current);

transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.galery > div:hover {
    flex: 2;
    background-size: auto 90%;
    
} 


.top1 {
    color: var(--nyanza);
    margin-left: 4em;
    font-family: 'Courier New', Courier, monospace;
   
    
}
.top1 > h1:hover  {

    background-color: rgba(0, 0, 0, 0.884);
    color: rgb(241, 235, 235);
    flex-direction: row;
    align-self: center;
    justify-content: flex-start;
    text-align: center;
    min-width: 40vw;
    max-width: 10vw;
    border-radius: 10px;
}



.info1 {
    display: flex;
    align-self: center;
    justify-content:left ; 
    }


.social {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 3em;
    justify-content: center;
}
.social a {
    text-decoration: none;
    font-size: 24px;
    color: var(--isabelline)
}
.copyright {
    text-align: center;
    color: var(--isabelline);
}

.cat2 {
    color: rgb(223, 221, 221);
    margin-left: 4em;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 4em;
}

.container1 {
       position: relative;
       width: 1190px;
       display: flex;
       margin-left: 4em;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       padding: 30px;
       }

.container1 .card {
    position:relative;
    max-width: 300px;
    height: 215px;
    flex-direction: row;
    background-color: antiquewhite;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgb(0,0,0,0,5);
    transition: 0.3s ease-in-out;
}

.container1 .card:hover {
    height: 420px;
    }
.container1 .card .prod {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0,5);
}
.container1 .card .prod img {
    max-width: 100%;
    border-radius: 4px;
    }
.container1 .card .content1 {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:rgb(25, 5, 73);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container1 .card:hover .content1{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay:0.2s;
    
}


.social {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}
.social a {
    text-decoration: none;
    font-size: 24px;
    color: var(--isabelline)
}
.copyright {
    text-align: center;
    color: var(--isabelline);
}


.colorfoo{
    background-color: var(--ash-gray);

}


.main-footer {
    margin-top: 2em;
    padding: 1em;
    min-height: 150px;
    background-color: var(--ash-gray);
    flex-direction: row;
    align-items:center;
}

.info1 {
    margin-top: 1em;
    padding: 1em;
    min-height: 150px;
    background-color: var(--ash-gray);
    flex-direction: row;
    align-items:flex-start;
}

.contact {
    max-width: 80vw;
    margin: auto;
    color: white;
}

#map {
    width: 100%;
    border-radius: 10px;
}
#contact-form {
    width: 50%;
    margin: 1vw;
    border-radius: 10px;
}

.contact1-form {
   
    align-items: flex-start;
}




#contact-form label {
    display: block;
    border-radius: 10px;
}
#contact-form input {
    display: block;
    width: 100%;
    border-radius: 10px;
}
#contact-form textarea {
    display: block;
    width: 100%;
    border-radius: 10px;
    width: 550px;
    height: 260px;
}

.about {
    margin: 4vw;
    color: azure;
}
