:root {
    /* CSS HSL */
    --air-superiority-blue: rgb(237, 247, 246);
    --isabelline: rgb(245, 130, 130);
    --alloy-orange: rgb(194, 236, 194);
    --orange: rgb(245, 204, 91);
}

body {
    background-color: var(--air-superiority-blue);
    margin: 0px;
}

.logo {
    width: 50px;
}

.main-header {
    background-color: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap;
}

#search {
    display: flex;
    flex-direction: row;
    min-width: 40vw;
    max-width: 100vw;
    border: 1px solid var(--alloy-orange);
    border-radius: 15px;
    overflow: hidden;
    align-self: self-end;
    margin-bottom: 10px;

}

#search input {
    flex: 1;
    padding: 5px;
}

#search button {
    padding: 5px;
    background-color: var(--alloy-orange);
    color: var(--isabelline);
    border: 1px solid transparent;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    
}
.main-navigation a {
    color: var(--isabelline);
    text-decoration: none;
    padding: 10px;
}
.main-navigation a:hover {
    background-color: var(--alloy-orange);
}

.menu-button {
     font-size:24px;
     background-color: rgba(81, 145, 95, 0.897);
     color: var (--alloy-orange);
     border:5px solid var(rgb(206, 240, 241));
     border-radius: 7px;
}

